[user]
  email = ylxbsoftware@gmail.com
[credential]
  helper = store
[alias]
  st = status
  co = checkout
  ci = commit
  br = branch
  unstage = reset HEAD
  hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
  autocrlf = false
